* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "VT323", monospace;
}

.difficulty li.selected {
  background: #454545;
  color: #fff;
  border-radius: 5px;
}


.card {
  width: 100px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.cover {
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: url("./assets/images/card-bg.webp");
}

.cover::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(200%);
  background:  url("./assets/images/card-bg.webp");
  right: 0;
}

.cover,
.cover::after {
  transition: 250ms ease-in;
  pointer-events: none;
  z-index: 10;
}

.card.selected > .cover{
  transform: translateX(-50%);
}

.card.selected > .cover::after {
  transform: translateX(100%);
}

.card-cover.left {
  animation: moveLeft 5000ms ease-in alternate infinite;
}

.card-cover.right {
  animation: moveRight 5000ms ease-in alternate infinite;
}

.card-cover.up {
  animation: moveUp 5000ms ease-in alternate infinite;
}

.card-cover.down {
  animation: moveDown 5000ms ease-in alternate infinite;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-overlay.show,
.modal.show {
  pointer-events: all;
  opacity: 100%;
}

.modal-overlay,
.modal {
  pointer-events: none;
  opacity: 0;
  transition: 250ms ease-in;
}

.modal {
  min-width: 400px;
  margin: 0 auto;
  background: white;
  border: solid 1px #eee;
  border-radius: 15px;
  padding: 2rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal form input {
  padding: 10px;
  border: solid 1px #eee;
  border-radius: 5px;
  outline: none;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}